In [19]:
# Install kagglehub if you need it, just comment out the next line
# !pip install kagglehub

In [20]:
import kagglehub

# Download the Glassdoor Job Reviews dataset from Kaggle
path = kagglehub.dataset_download("davidgauthier/glassdoor-job-reviews-2")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\jesseparent\.cache\kagglehub\datasets\davidgauthier\glassdoor-job-reviews-2\versions\3

In [21]:
# Convert the csv at the variable "path" to a pd dataframe
import pandas as pd
import os

jobs_org_df = pd.read_csv(os.path.join(path, "all_reviews.csv"))

C:\Users\jesseparent\AppData\Local\Temp\ipykernel_22800\3192690328.py:5: DtypeWarning: Columns (5,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs_org_df = pd.read_csv(os.path.join(path, "all_reviews.csv"))

In [22]:
jobs_org_df.head()

,rating,title,status,pros,cons,advice,Recommend,CEO Approval,Business Outlook,Career Opportunities,Compensation and Benefits,Senior Management,Work/Life Balance,Culture & Values,Diversity & Inclusion,firm_link,date,job,index
0,5.0,Good,"Current Employee, more than 10 years",Knowledge gain of complete project,Financial growth and personal growth,NaN,v,o,v,3,3,3,3,3.0,3.0,Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm,"Nov 19, 2022",Manager Design,NaN
1,4.0,Good,"Former Employee, less than 1 year","Good work,good work , flexible, support","Good,work, flexible,good support, good team work",NaN,v,o,o,4,4,4,4,4.0,4.0,Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm,"Jan 29, 2022",Anonymous Employee,NaN
2,4.0,"Supervising the manufacturing the processes, e...","Current Employee, more than 1 year",This company is a best opportunity for me to l...,"Monthly Target work,Maintain production schedu...",NaN,v,o,v,2,3,2,2,2.0,2.0,Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm,"Aug 12, 2021",Production Engineer,NaN
3,1.0,terrible,"Current Employee, more than 1 year",I wish there were some to list,too many to list here,NaN,x,x,x,1.0,3.0,1.0,3.0,1.0,NaN,https://www.glassdoor.com/Reviews/Calgary-Flam...,"Sep 24, 2020",Senior Account Executive,NaN
4,4.0,"It could be so good, but it isn’t","Current Employee, more than 3 years",Fast Paced. Endless challenges. Inclusive envi...,The biggest perk of the job provides no value ...,NaN,o,o,o,3.0,3.0,3.0,1.0,4.0,5.0,https://www.glassdoor.com/Reviews/Calgary-Flam...,"Mar 25, 2023",Assistant Manager,NaN

In [23]:
# Function to extract and format the firm name
def extract_firm_name(link):
    # Split string on slashes
    parts = link.split("/")
    # Extract the last part of the string (the firm name)
    firm_name = parts[-1]
    # Split file name on dashes
    firm_name_parts = firm_name.split("-")
    # Remove the last 2 parts (the file extension) and join the rest with spaces
    firm_name = " ".join(firm_name_parts[:-2])
    # Return the formatted firm name
    return firm_name

# Test the function with different types of links    
print(f"Extract firm from relative path: {extract_firm_name('Reviews/Baja-Steel-and-Fence-Reviews-E5462645.htm')}")
print(f"Extract firm from absolute path: {extract_firm_name('https://www.glassdoor.com/Reviews/Calgary-Flames-Reviews-E5247.htm')}")

Extract firm from relative path: Baja Steel and Fence
Extract firm from absolute path: Calgary Flames

In [26]:
# Transform the data set to extract the firm name from the link
jobs_org_df["firm_name"] = jobs_org_df["firm_link"].apply(extract_firm_name)

In [27]:
# Print Unique firm names
print(f"\nUnique firm names: {jobs_org_df['firm_name'].unique()}")
# Print the number of unique firm names
print(f"\nNumber of unique firm names: {jobs_org_df['firm_name'].nunique()}")
# Print the number of reviews per firm
print(f"\nNumber of reviews per firm: {jobs_org_df['firm_name'].value_counts()}")
# Get the count of total reviews
print(f"\nTotal reviews: {jobs_org_df['firm_name'].count()}")

Unique firm names: ['Baja Steel and Fence' 'Calgary Flames' 'I Will Teach You To Be Rich' ...
 'Franklin County District #4' 'Great Southern Bancorp'
 'Victoria Inn Hotel & Convention Centre']

Number of unique firm names: 34369

Number of reviews per firm: firm_name
Amazon                            163396
Tata Consultancy Services         107218
Walmart                           102152
Cognizant Technology Solutions     84171
McDonald s                         76777
                                   ...
365 Productions                        1
Pelayo Mutua de Seguros                1
Genlyte Thomas                         1
Schöck Bauteile                        1
JDB Cloud & Mobile Solutions           1
Name: count, Length: 34369, dtype: int64

Total reviews: 9901889

In [28]:
# Drop any rows where the count of the firm name is less than 1,000
jobs_df = jobs_org_df[jobs_org_df["firm_name"].map(jobs_org_df["firm_name"].value_counts()) >= 1000]

In [29]:
# Print Unique firm names
print(f"\nUnique firm names: {jobs_df['firm_name'].unique()}")
# Print the number of unique firm names
print(f"\nNumber of unique firm names: {jobs_df['firm_name'].nunique()}")
# Print the number of reviews per firm
print(f"\nNumber of reviews per firm: {jobs_df['firm_name'].value_counts()}")
# Get the count of total reviews
print(f"\nTotal reviews: {jobs_df['firm_name'].count()}")

Unique firm names: ['Canada Life' 'GlobalData' 'Summa Health System' ... 'Sheetz'
 'Costco Wholesale' 'XL Dynamics']

Number of unique firm names: 1728

Number of reviews per firm: firm_name
Amazon                              163396
Tata Consultancy Services           107218
Walmart                             102152
Cognizant Technology Solutions       84171
McDonald s                           76777
                                     ...
SABIC                                 1003
Auto Club of Southern California      1003
ALS                                   1002
HSN                                   1000
TitleMax                              1000
Name: count, Length: 1728, dtype: int64

Total reviews: 7862168

In [30]:
# Count the number of null or NaN entries for each column
print(f"\nCount of null or NaN entries for each column:\n{jobs_df.isnull().sum()}")

Count of null or NaN entries for each column:
rating                           124
title                          32936
status                           124
pros                             136
cons                             174
advice                       7862162
Recommend                        124
CEO Approval                     124
Business Outlook                 124
Career Opportunities         1509933
Compensation and Benefits    1535855
Senior Management            1614963
Work/Life Balance            1549815
Culture & Values             1828149
Diversity & Inclusion        5172595
firm_link                          0
date                             124
job                              124
index                        7701598
firm_name                          0
dtype: int64

In [31]:
# Let's drop the columns that have almost all NULL values
jobs_df = jobs_df.drop(columns=["advice", "index"])

In [32]:
# Drop any rows with null or NaN entries in any column
jobs_df = jobs_df.dropna()

# Count the number of null or NaN entries for each column
print(f"\nCount of null or NaN entries for each column:\n{jobs_df.isnull().sum()}")

Count of null or NaN entries for each column:
rating                       0
title                        0
status                       0
pros                         0
cons                         0
Recommend                    0
CEO Approval                 0
Business Outlook             0
Career Opportunities         0
Compensation and Benefits    0
Senior Management            0
Work/Life Balance            0
Culture & Values             0
Diversity & Inclusion        0
firm_link                    0
date                         0
job                          0
firm_name                    0
dtype: int64

In [35]:
# Get counts of each unique values in the "status" column
print(f"\nCounts of each unique value in the 'status' column:\n{jobs_df['status'].value_counts()}")

Counts of each unique value in the 'status' column:
status
Current Employee                        506194
Current Employee, more than 1 year      326743
Former Employee                         254537
Former Employee, more than 1 year       250393
Current Employee, more than 3 years     243699
Current Employee, less than 1 year      240456
Former Employee, less than 1 year       182206
Former Employee, more than 3 years      159730
Current Employee, more than 5 years     146738
Former Employee, more than 5 years       84360
Current Employee, more than 10 years     74812
Current Employee, more than 8 years      74383
Former Employee, more than 8 years       41580
Former Employee, more than 10 years      39205
Name: count, dtype: int64

In [33]:
print("AFTER DATA CLEANING:")
# Print Unique firm names
print(f"\nUnique firm names: {jobs_df['firm_name'].unique()}")
# Print the number of unique firm names
print(f"\nNumber of unique firm names: {jobs_df['firm_name'].nunique()}")
# Print the number of reviews per firm
print(f"\nNumber of reviews per firm: {jobs_df['firm_name'].value_counts()}")
# Get the count of total reviews
print(f"\nTotal reviews: {jobs_df['firm_name'].count()}")

AFTER DATA CLEANING:

Unique firm names: ['Canada Life' 'GlobalData' 'Summa Health System' ... 'Sheetz'
 'Costco Wholesale' 'XL Dynamics']

Number of unique firm names: 1728

Number of reviews per firm: firm_name
Amazon                            85836
Tata Consultancy Services         43238
Walmart                           34310
Cognizant Technology Solutions    31613
Accenture                         28357
                                  ...
Alcatel Lucent                       15
SolarCity                            13
Amec Foster Wheeler                  11
UTC Aerospace Systems                 9
CH2M                                  3
Name: count, Length: 1728, dtype: int64

Total reviews: 2625036

In [ ]:
# Get a sample of 500,000 reviews
jobs_sample_df = jobs_df.sample(n=500000, random_state=1)

AFTER DATA CLEANING:

Unique firm names: ['Canada Life' 'GlobalData' 'Summa Health System' ... 'Sheetz'
 'Costco Wholesale' 'XL Dynamics']

Number of unique firm names: 1728

Number of reviews per firm: firm_name
Amazon                            85836
Tata Consultancy Services         43238
Walmart                           34310
Cognizant Technology Solutions    31613
Accenture                         28357
                                  ...
Alcatel Lucent                       15
SolarCity                            13
Amec Foster Wheeler                  11
UTC Aerospace Systems                 9
CH2M                                  3
Name: count, Length: 1728, dtype: int64

Total reviews: 2625036

In [37]:
print("AFTER DATA CLEANING:")
# Print Unique firm names
print(f"\nUnique firm names: {jobs_sample_df['firm_name'].unique()}")
# Print the number of unique firm names
print(f"\nNumber of unique firm names: {jobs_sample_df['firm_name'].nunique()}")
# Print the number of reviews per firm
print(f"\nNumber of reviews per firm: {jobs_sample_df['firm_name'].value_counts()}")
# Get the count of total reviews
print(f"\nTotal reviews: {jobs_sample_df['firm_name'].count()}")

AFTER DATA CLEANING:

Unique firm names: ['PwC' 'Sun Life' 'CGI' ... 'Allergan' 'Kohl s' 'CH2M']

Number of unique firm names: 1727

Number of reviews per firm: firm_name
Amazon                            16495
Tata Consultancy Services          8336
Walmart                            6615
Cognizant Technology Solutions     6111
Accenture                          5364
                                  ...
Alcatel Lucent                        4
Kohl s                                4
SolarCity                             3
UTC Aerospace Systems                 1
CH2M                                  1
Name: count, Length: 1727, dtype: int64

Total reviews: 500000

In [47]:
# Drop any rows where the count of the firm name is less than 1,000
jobs_sample_reduced_df = jobs_sample_df[jobs_sample_df["firm_name"].map(jobs_sample_df["firm_name"].value_counts()) >= 500]

In [48]:
print("AFTER DATA CLEANING:")
# Print Unique firm names
print(f"\nUnique firm names: {jobs_sample_reduced_df['firm_name'].unique()}")
# Print the number of unique firm names
print(f"\nNumber of unique firm names: {jobs_sample_reduced_df['firm_name'].nunique()}")
# Print the number of reviews per firm
print(f"\nNumber of reviews per firm: {jobs_sample_reduced_df['firm_name'].value_counts()}")
# Get the count of total reviews
print(f"\nTotal reviews: {jobs_sample_reduced_df['firm_name'].count()}")

AFTER DATA CLEANING:

Unique firm names: ['PwC' 'CGI' 'Wipro' 'TaskUs' 'GE' 'Capgemini' 'Amazon' 'US Air Force'
 "Lowe's Home Improvement" 'Kaiser Permanente' 'ICICI Bank' 'Publix'
 'US Postal Service' 'Cognizant Technology Solutions' 'Novartis' 'HSBC'
 'ADP' 'McDonald s' 'Teleperformance' 'Brigham Young University (BYU)'
 'Genpact' 'Staples' 'SAP' 'lululemon'
 'American Automobile Association (AAA)' 'Vodafone' 'Tesco' 'Nestlé'
 'Hewlett Packard Enterprise HPE' 'Robert Bosch' 'Costco Wholesale'
 'Starbucks' 'The Home Depot' 'Kroger' 'Shell' 'Nestl%C3%A9' 'Deloitte'
 'IBM' "McDonald's" 'KPMG' 'Standard Chartered Bank'
 'Tata Consultancy Services' 'The Cleaning Authority' 'Walgreens'
 'Best Buy' 'Foundever' 'Capital One' 'General Motors (GM)' 'Conduent'
 'PayPal' 'Atos Syntel' 'The Coca Cola Company'
 'Continental Software Solutions' 'Citi' 'Larsen & Toubro' 'Allstate'
 'Uber' 'Deutsche Bank' 'RBC' 'HCLTech' 'Infosys' 'NTT Ltd' 'Boeing'
 'HP Inc' 'Intel Corporation' 'Concentrix' 'H E B' 'Walmart' 'Comcast'
 'US Marine Corps' 'Dell Technologies' 'Tech Mahindra' 'Credit Suisse'
 'Dunkin' 'General Motors GM' 'Target' 'State Farm' 'Verizon' 'Labcorp'
 'AT&T' 'Chick fil A Restaurants' 'UPS' 'T Mobile' 'IQVIA'
 'American Airlines' 'Wells Fargo' 'Optum' 'Trader Joe s' 'EY'
 'EPAM Systems' 'Pizza Hut' 'ALDI' 'DXC Technology' 'Oracle'
 'American Automobile Association AAA' 'Burger King' 'Panera Bread'
 'Spectrum' 'ExxonMobil' 'Qualcomm' 'Shopee' 'Majorel' 'IKEA' 'FedEx'
 'Tim Hortons' "Macy's" 'TTEC' 'Honeywell' 'Mphasis' 'Primark' 'DBS Bank'
 'BNY Mellon' 'Hollister Co' 'LTI' 'Cerner' 'Accenture'
 'Ford Motor Company' 'US Navy' 'Tesla' 'Taco Bell' 'Fiserv'
 'Bank of America' 'Samsung Electronics' 'Dollar Tree' 'J.P. Morgan'
 'Siemens' 'Dollar General' 'Allied Universal' 'Raytheon Technologies'
 'Scotiabank' 'Schneider Electric' 'Apple' "Wendy's" 'Goldman Sachs'
 'Publicis Sapient' 'Amdocs' 'H and M' 'Chick fil A' 'Cisco Systems'
 'Walt Disney Company' 'UBS' 'US Army' 'NHS' 'American Express' 'PepsiCo'
 'Meta' 'Google' 'Microsoft' 'Sainsbury%E2%80%99s' 'Subway' "Domino's"
 'Marks and Spencer' 'Barclays' 'Lockheed Martin' 'Marriott International'
 'TD' 'Chipotle' 'McKinsey and Company'
 'Tata Consultancy Services (North America)' 'CVS Health'
 'Whole Foods Market' 'Enterprise' 'Mindtree' 'Sam s Club' 'YMCA'
 'Bharti Airtel' 'Gamuda' 'Thermo Fisher Scientific' 'Nokia' 'Salesforce'
 'JLL' 'FIS' 'Morgan Stanley' 'ASDA' 'Virtusa' 'ABC' 'Ericsson Worldwide'
 "Kohl's" 'GEICO' 'GSK' 'CBRE' 'KFC' 'Huawei Technologies'
 'Johnson & Johnson' 'Ulta Beauty' 'NIKE' 'Bloomberg L P'
 'Procter & Gamble' 'Atos' 'NTT DATA' 'WhiteHat Jr' 'Nordstrom' 'Abbott'
 '7 Eleven' 'VMware' 'Coforge' 'Fidelity Investments']

Number of unique firm names: 197

Number of reviews per firm: firm_name
Amazon                            16495
Tata Consultancy Services          8336
Walmart                            6615
Cognizant Technology Solutions     6111
Accenture                          5364
                                  ...
McKinsey and Company                508
EPAM Systems                        506
Bharti Airtel                       503
Atos Syntel                         502
IKEA                                500
Name: count, Length: 197, dtype: int64

Total reviews: 270745

In [50]:
# Export the cleaned dataset to a CSV file
jobs_sample_reduced_df.to_csv("Resources/cleaned_glassdoor_reviews.csv", index=False)